@font-face {
    font-family: 'GaretBook';
    src: url('Garet-Book.ttf') format('woff2'),
        url('Garet-Book.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GaretHeavy';
    src: url('Garet-Heavy.ttf') format('woff2'),
        url('Garet-Heavy.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    background-image: url(the.png);
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 238, 235);
    padding: 0px 2% 20px 2%;
    height: auto;
    width: 90%;
    max-width: 500px;
    gap: 10px;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #888888;
    overflow: hidden;
}

#header {
    background-color: #5093b5;
    width: 150%;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#headertext {
    font-family: 'GaretHeavy';
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.2px;
    font-weight: 10;
    color: white;
}


#main > label {
    font-family: 'GaretBook';
    width: 100%;
    font-size: 1rem;
    text-align: left;
}

#instructions{
    font-family: 'GaretBook';
    width: 100%;
    font-size: 1rem;
    text-align: left;
}

#main > button {
    background-color: #5093b5;
    font-family: 'GaretHeavy';
    border: none;
    color: white;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 10px;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (max-width: 768px) {
    #header {
        width: 105%;
    }

    #main > label {
        font-size: 1rem;
    }

    #header {
        width: 160%;
    }

    #headertext {
        font-size: 1.3rem;
    }
}

#main > button:hover {
    padding: 1.5rem 3.5rem;
    cursor: pointer;
    background-color: #78b3d1;
}

#loading {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(the.png);
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: 'GaretHeavy';
}

#loading > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 30vi;
    text-align: center;
    font-size: clamp(40px, 5vi, 75px);
    text-shadow: 5px 5px 10px #888888;
}

#loading > div > img {
    width: clamp(40px, 5vi, 90px);
    height: clamp(40px, 5vi, 90px);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.602)) brightness(85%) saturate(110%);
}

#loading2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: 'GaretHeavy';
}


#loading2-container {
    display: none;
    position: fixed;
    width: 60%;
    min-width: 360px;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: 'GaretHeavy';
    border-radius: 20px;
}

#loading2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 30vi;
    text-align: center;
    font-size: 50px;
}

#loading2-container > img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.602)) brightness(85%) saturate(110%);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

#modal-content {
    position: relative;
    background-color: white;
    padding: 5% 5%;
    min-height: min-content;
    height: auto;
    width: 90%;
    max-width: 500px;
    gap: 10px;
    border-radius: 20px;
    padding: 20px;
}

#remove {
    font-family: 'GaretBook';
    display: block;
    margin: 1em 0;
    line-height: 1.5;
}

ul, li, b, i {
    font-family: 'GaretBook';
}

i {
    color: #878787;
}

.close {
    color: #aaaaaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    #modal-content {
        padding: 10% 5%;
        width: 95%;
    }

    .close {
        font-size: 1.5rem;
    }
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
